<div class="d-flex">

  <div class="d-flex flex-column flex-shrink-0 p-1 bg-light side-bare">
    <a routerLink="/task/list"
       class="d-flex align-items-center mb-3 mb-md-0  link-dark text-decoration-none">
      <i class="bi bi-card-checklist fs-1 me-2 d-block  d-md-none"></i>
      <span class="fs-4 d-none d-md-block">Tasks</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">

      <li class="nav-item mb-2">
        <a routerLink="/task/list" class="nav-link">
          <i class="bi bi-list  d-block  d-md-none"></i>
          <span class="fs-5 d-none d-md-block">List Tasks</span>
        </a>
      </li>
      <li class="nav-item mb-2">
        <a routerLink="/task/add"
           class="nav-link ">
          <i class="bi bi-file-earmark-plus-fill d-block  d-md-none"></i>
          <span class="fs-5 d-none d-md-block">Add Task</span>
        </a>
      </li>

    </ul>

    <div class="dropdown">
      <a routerLink="/user/logout"
         class="nav-link ">
        <i class="bi bi-box-arrow-left d-block  d-md-none"></i>
        <span class="fs-5 d-none d-md-block">Logout</span>
      </a>
    </div>
  </div>

  <div class="flex-grow-1 content overflow-auto">
    <router-outlet></router-outlet>
  </div>

</div>
