<div class="d-flex">
  <!-- Sidebar -->
  <aside class="d-flex flex-column flex-shrink-0 p-3 bg-light side-bare">
    <a routerLink="/user/profile"
       class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <i class="bi bi-person-circle  fs-2 me-2"></i>
      <span class="fs-4">Profile</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item mb-2">
        <a routerLink="/user/tasks"
           class="nav-link active" aria-current="page">
          <i class="bi bi-list-task me-2"></i>
          My Tasks
        </a>
      </li>
      <li class="nav-item mb-2">
        <a routerLink="/user/tags"
           class="nav-link active" aria-current="page">
          <i class="bi bi-tags me-2"></i>
          My Tags
        </a>
      </li>
    </ul>
    <div class="dropdown">
      <a routerLink="/user/logout"
         class="nav-link active  fs-5">
        <i class="bi bi-box-arrow-left me-2"></i>
        Logout
      </a>
    </div>
  </aside>

  <!-- Main Content Area -->
  <div class="flex-grow-1">
    <router-outlet></router-outlet>
  </div>
</div>
